
<head>
    <link href="../../../assets/css.css" type="text/css" rel="stylesheet" media="">
</head>
<nav class="fila" class="animated fadeIn">

        <ul>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo1"><p class="textStyleButton">{{info.titulo[0]}}</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo2"><p class="textStyleButton">{{info.titulo[1]}}</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo3"><p class="textStyleButton">{{info.titulo[2]}}</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo4"><p class="textStyleButton">{{info.titulo[3]}}</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo5"><p class="textStyleButton">{{info.titulo[4]}}</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a routerLink="articulo6"><p class="textStyleButton">{{info.titulo[5]}}</p></a></li>
        </ul>

</nav>