
<head>
    <link href="../../../assets/css.css" type="text/css" rel="stylesheet" media="">
</head>
<nav class="fila">

        <ul>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 1</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 2</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 3</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 4</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 5</p></a></li>
               <li class="col-lg-2 col-md-2 col-sm-6 col-xs-12"> <a href="#"><p>Boton 6</p></a></li>
        </ul>

</nav>