<head>
    <link href="../../../assets/css.css" type="text/css" rel="stylesheet" media="">
</head>
<header class="fila">

        <div routerLink="" id="logo" class="col-lg-2 col-md-2 col-sm-3 col-xs-12 rk-menu__link">
            Logotipo   
        </div>

        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-0">.</div>
        
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div  class="centro" id="icono1">
                    <a  href="https://www.cuantarazon.com/" class="links-images">
                        <p>C</p> 
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div class="centro" id="icono2">
                    <a  href="https://www.vistoenlasredes.com/" class="links-images">
                        <p>V</p> 
                    </a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <div  class="centro" id="icono3">
                    <a  href="https://www.vayagif.com/" class="links-images">
                        <p>G</p> 
                    </a>
                </div>
            </div>

        </div>
    
</header>